@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: melody-light;
  src: url("../../BLMelodyMono-Light.otf");
}

@layer base {
  :root {
    /* light mode defaults */
    --color-theme-light: #000000;

    /* dark mode defaults */
    --color-theme-dark: #ffffff;

    --color-theme: var(--color-theme-light);

    color-scheme: light;
  }
  @media (prefers-color-scheme: dark) {
    :root {
      --color-theme: var(--color-theme-dark);
      color-scheme: dark;
    }
  }
  :root[data-theme="dark"] {
    --color-theme: var(--color-theme-dark);
    color-scheme: dark;
  }
  :root[data-theme="light"] {
    --color-theme: var(--color-theme-light);
    color-scheme: light;
  }
}
