@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: melody-light;
  src: url("../../BLMelodyMono-Light.otf");
}

@layer base {
  :root {
    --color-theme-black: 0deg 100% 0%;
    --color-theme-white: 0deg 100% 100%;

    --color-text: var(--color-theme-black);
    --color-background: var(--color-theme-white);

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  :root::-webkit-scrollbar {
    display: none;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-text: var(--color-theme-white);
      --color-background: var(--color-theme-black);
    }
  }
  :root[data-theme="dark"] {
    --color-text: var(--color-theme-white);
    --color-background: var(--color-theme-black);
  }
  :root[data-theme="light"] {
    --color-text: var(--color-theme-black);
    --color-background: var(--color-theme-white);
  }
}
