---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Chema Cabeza's portfolio">
    <section class="flex justify-left flex-col w-full gap-9">
            <div class="text-[200px] md:text-[250px]">A</div>
            <div class="text-3xl md:text-base md:w-3/6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id odio urna. Suspendisse lorem nibh, tempus quis tortor quis, porttitor egestas tortor. Curabitur placerat augue vel est finibus ullamcorper. Fusce ornare tristique mauris ac suscipit. Quisque pretium iaculis elit eget porttitor. In ullamcorper viverra mi et placerat. Suspendisse tincidunt, quam a mattis lobortis, nunc nibh maximus quam, sed lobortis orci ipsum sed massa. Sed eget faucibus lacus, vitae vestibulum mauris. Nulla ac tellus vel sem pulvinar accumsan.</div>
        <div class="flex w-auto flex-row justify-between">
            <article class="flex flex-col">
                <span class="text-3xl">Experience</span>
                <div class="gap-4">
                    
                </div>
            </article>
            <div>Skills</div>
            <div>Education</div>
        </div>
    </section>
</Layout>


