---
import Layout from '../layouts/Layout.astro';
import ContactForm from './../components/ContactForm';
---

<Layout title="Chema Cabeza">
	<section class="flex justify-left flex-col w-full gap-9">
        <article>
            <span class="text-[200px] md:text-[250px]">C</span>
        </article>
        <ContactForm client:load/>
	</section>
</Layout>