---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Chema Cabeza's portfolio">
	<main class="grow flex items-center">
		<section class="flex justify-center items-center flex-row w-full h-max min-h-max">
			<div class="text-[300px] mr-5">//</div>
			<div class="text-6xl mt-6">Chema Cabeza <br>Web Developer</div>
		</section>
	</main>	
</Layout>


