---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Chema Cabeza's portfolio">
	<main class="grow flex items-center ">
		<section class="flex justify-center items-center flex-row w-full">
			<div class="text-[250px] md:text-[300px] mr-2 md:mr-9">//</div>
			<div class="text-3xl md:text-6xl mt-9">Chema Cabeza<br>Web Developer</div>
		</section>
	</main>	
</Layout>


