---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Chema Cabeza">
	<section class="flex justify-center items-center flex-row w-full">
		<span class="text-slash md:text-bigSlash mr-2 md:mr-9">//</span>
		<span class="text-title md:text-bigTitle mb-4">Chema Cabeza<br>Web Developer</span>
	</section>
</Layout>


