---
const { title } = Astro.props
import Footer from "../components/Footer";
import Nav from "../components/Nav";
import ThemeIcon from './../components/ThemeIcon.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Digital Artist services, accessible for everyone."
    />
		<title>{title}</title>
  </head>
  <body>
    <Nav client:load >
      <ThemeIcon slot="themeIcon"/>
    </Nav>  
  </body>
</html>
<main>
  <slot />
  <!-- your content is injected here -->
  <Footer client:load/>
</main>

<style>
  @font-face {
    font-family:  melody-light;
    src: url('../../public/BLMelodyMono-Light.otf');
  }
  body {
    font-family: melody-light;
  }

  html.dark {
    background-color: #000000;
    color: #fff;
  }

  .dark .nav-links a {
    color: #fff;
  }
</style>