---
import Footer from "../components/Footer";
import Nav from "../components/Nav";
import ThemeIcon from './../components/ThemeIcon.astro';

const { title } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Digital Artist services, accessible for everyone."
    />
		<title>{title}</title>
  </head>
  <body class="mx-8 md:mx-16 lg:mx-32">
    <Nav client:load >
      <ThemeIcon slot="themeIcon"/>
    </Nav>  
    <slot />
    <Footer client:load/>
  </body>
</html>

<style>
  @font-face {
    font-family:  melody-light;
    src: url('../../public/BLMelodyMono-Light.otf');
  }
  body {
    font-family: melody-light;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  html.dark {
    background-color: #000000;
    color: #fff;
  }

  .dark .nav-links a {
    color: #fff;
  }
</style>