---
import { Toaster } from "sonner";

import Footer from "@/components/Footer";
import Nav from "@/components/Nav";
import ThemeIcon from '@/components/ThemeIcon.astro';
import "@/styles/main.css";
import "@/styles/sonner-style.css";
import { ClientRouter } from "astro:transitions";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Digital Artist services, accessible for everyone."
    />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
    <ClientRouter/>
  </head>
  <body class="bg-theme-background text-theme-text flex flex-col min-h-screen mx-10 md:mx-16 lg:mx-32 font-melodyLight">
      <Nav client:load>
        <ThemeIcon slot="themeIcon"/>
      </Nav>  
	  <main transition:animate="none" class="flex grow items-center">
      <slot />
    </main>
    <Footer client:load transition:persist/>
      <Toaster client:load richColors position="bottom-center" />
  </body>
</html>